* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "tituloCentral";
  src: url(../fonts/Vintage.otf);
}

@font-face {
  font-family: "fontHeader";
  src: url(../fonts/Pakuintho-BWEP8.ttf);
}

@font-face {
  font-family: "titulo";
  src: url(../fonts/Titulo.otf);
}

@font-face {
  font-family: "textoGral3";
  src: url(../fonts/textoGral.ttf);
}

.what-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 9999;
}

.what-btn img {
  width: 3rem;
  animation: whatsapp-animation 1s infinite;
}

@keyframes whatsapp-animation {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  10% {
    transform: translateY(0);
  }
}

.btn-sl {
  /* display: inline-block; */
  padding: 3px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: "textoGral3";
  background-color: #4caf50;
  cursor: pointer;
  /* box-shadow: 0px 0px 10px 0px #4caf50; */
}

header {
  display: flex;
  justify-content: space-between;
  /* background-color: #fc59a3; */
  font-family: sans-serif;
  padding: 1%;
  width: 100%;
  height: 100px;
  align-items: center;
  background-color: aliceblue;
}

header .menu {
  height: 100%;
}

.logo {
  width: 150px;
  margin-top: 50px;
}

.menu .letraMenu {
  display: none;
  /* visibility: hidden; */
  /* background-color: #de2889; */
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  font-family: "fontHeader";
  font-size: 2rem;
  color: #fff;
  margin-top: 15px;
  padding-right: 2rem;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  background-color: rgba(227, 71, 126, 0.5);
  padding: 10px;
  border-radius: 15px;
}

.abrir-menu,
.cerrar-menu,
.btnMenu {
  display: none;
}
.nav-list a:hover {
  transition: all 0.3s ease;
  background-color: #de2889;
  color: #ffff;
  border-radius: 15px;
  font-size: 2.5rem;
  cursor: pointer;
}

/*----- TITULO CENTRAL-------------- */
.tituloCentral {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  /* font-size: 14px; */
  line-height: 1.8;
  gap: 1rem;
  padding: 0.2rem;
}

.tituloCentral .t1,
.subT1 {
  color: #fc59a3;
  font-size: 200%;
  font-family: "titulo";
  width: 30%;
}

.tituloCentral .t2 {
  color: #fc59a3;
  font-size: 20px;
  font-family: "titulo";
  margin-top: -25px;
  margin-bottom: 20px;
}

/* IMAGEN DE SOLE */
.tituloCentral img {
  width: 55%;
  border-radius: 20px;
}

.tituloCentral .imgNutri {
  width: 70%;
  margin-top: 30px;
}

.tituloCentral .imgNutri img {
  width: 70%;
  margin-top: 30px;
}

.sectionConocer .textoCuerpo {
  display: grid;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  justify-items: center;
}

.tituloCentral .subtituloP {
  display: grid;
  font-size: large;
  font-family: "textoGral3";
  justify-items: center;
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #c7ddac;
}

p {
  text-align: justify;
  line-height: 30px;
  font-family: "textoGral3";
  /* font-weight: bold; */
  font-size: large;
  
}

.btn-sl {
  display: none;
}

/* SECTION CONOCER --------------*/
.sectionConocer {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-decoration: NONE;
  width: 100%;
}

.sectionConocer .body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 1.2%;

  /* background-color: hsl(297, 100%, 96%); */
}

.sectionConocer .tituloCuerpo,
.tituloServicios {
  font-family: "tituloCentral";
  font-size: 90px;
  color: #fc59a3;
}

.sectionConocer .textoCuerpo {
  display: grid;
  /* margin-left: 1.5rem; */
  margin-right: 8.5rem;
  justify-items: center;
}

.sectionConocer img {
  width: 50%;
  border-radius: 20px;
}

.sectionServicios .tituloServicios {
  text-align: center;
}

/* SECTION DE MIS SERVICIOS !!!!  */

.Conteiner4 {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.Conteiner4 .block {
  display: grid;
  grid-template-columns: 1FR;
  margin: 0 auto;
  width: 85%;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.block .img-comida {
  display: grid;
  justify-items: center;
}

.Conteiner4 .subtitulo2 {
  display: flex;
  background: #87c830;
  letter-spacing: 3px;
  margin-top: -75px;
  width: 250px;
  height: 55px;
  font-size: 17px;
  color: #ffff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Conteiner4 img {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.Conteiner4 .desarrollo {
  margin-top: 5px;
  color: #5a5c5b;
  text-align: justify;
  font-size: medium;
}

/* CSS DE CONTACTO CON BOOTSTRAP */
.contacto {
  display: grid;
  /* margin: 0px; */
  /* padding: 20%; */
  margin-left: 20%;
  margin-right: 20%;
  gap: 0.5rem;
  margin-bottom: 10%;
  /* margin-top: -200px; */
}

.contacto .cabecera {
  width: 100%;
  /* font-size: 60px; */
  letter-spacing: 3.5px;
  text-align: center;
  margin-bottom: 1rem;
  color: #fc59a3;
  font-size: 10rem;
  font-family: "tituloCentral";
}

.contacto .nombre,
.apellido,
.telefono,
.correo,
.consulta {
  color: #fc59a3;
  font-size: 2rem;
  font-family: "tituloCentral";
}

.contacto .nutrition-button {
  width: 50%;
  height: 150%;
  padding: 3px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: "textoGral3";
  background-color: #4caf50;
  cursor: pointer;
  justify-self: center;
}

/* FOOOOOOOTERRRRR */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 0.3rem;
  width: 100%;
  height: 70px;
}
.footer .redes {
  display: flex;
  flex-grow: 5;
  gap: 6%;
  /* padding: 5%; */
}

.footer .empresa {
  font-size: 100%;
  color: white;
}
.footer .redes button {
  width: 2rem;
  padding: 1%;
}

.footer .redes img {
  width: 2.5rem;
}

.Conteiner4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

/* 


CELULAR!!!



*/
@media screen and (max-width: 550px) {
  .Conteiner4 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }

  header {
    height: 50px;
    background-color: #87c830;
    display: flex;
    justify-content: space-between;
  }

  header .menu {
    display: flex;
    align-items: center;
  }

  header .letraMenu {
    font-family: "titulo";
  }

  .menu .letraMenu {
    display: block;
  }

  .abrir-menu,
  .cerrar-menu,
  .btnMenu {
    border: 0;
    display: block;
    cursor: pointer;
    font-size: 1.3rem;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
  }

  .nav .btnMenu {
    top: 10;
    right: 0;
    bottom: 0;
  }

  .logo {
    max-width: 20%;
    margin-top: 40px;
  }

  .menu .letraMenu {
    display: show;
  }

  .nav {
    transition: 0.3s linear;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(251, 251, 251, 0.95);
    padding: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    display: grid;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-justify: center;
    text-align: center;
  }
  .nav-list li {
    padding: 5px;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .nav-list li a {
    transition: 0.5s linear;
    color: #87c830;
    font-family: "tituloCentral";
    font-size: 50px;
    background-color: inherit;
    border-radius: inherit;
    padding: 0;
  }

  /* SECTION TITULO CENTROAL--------- */
  .tituloCentral {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.8;
    gap: 1rem;
    padding: 0.2rem;
  }

  .tituloCentral .t1,
  .subT1 {
    color: #fc59a3;
    font-size: 110%;
    font-family: "titulo";
    margin-bottom: -29px;
    margin-top: -10px;
    width: 100%;
  }

  .tituloCentral .t2,
  .subT1 {
    color: #fc59a3;
    font-size: 0.8rem;
    font-family: "titulo";
    margin: 0px;
  }

  .btn-sl {
    display: block;
  }

  .tituloCentral img {
    width: 80%;
  }

  .tituloCentral .imgNutri {
    margin: 0px;
  }

  .tituloCentral .imgNutri img {
    margin: 0px;
  }

  .tituloCentral .subtituloP {
    margin-top: -30px;
    width: 90%;
  }

  .tituloCentral p {
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .hide {
    display: none;
  }

  .hide2 {
    display: none;
  }

  .show {
    display: block;
  }

  .show2 {
    display: block;
  }

  /* <!-- SECTION CONOCER-----------------------> */
  .sectionConocer {
    margin-top: 10px;
    display: grid;
    justify-items: center;
    justify-content: center;
    /* background-color: olivedrab; */
  }

  .sectionConocer .tituloCuerpo,
  .tituloServicios {
    font-family: "tituloCentral";
    font-size: 300%;
  }

  .sectionConocer .body {
    margin-top: 10px;
    grid-template-columns: 1fr;
  }

  .sectionConocer img {
    width: 50%;
  }

  .sectionConocer .textoCuerpo {
    /* display: grid;
    margin-left: 2rem;
    margin-right: 2rem; */
    margin-top: -50px;
    width: 90%;
    justify-items: center;
    display: grid;
    font-size: large;
    font-family: "textoGral3";
    justify-items: center;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #c7ddac;
    text-decoration: NONE;
  }

  /* SECTION DE SERVICIOS-------- */

  .sectionServicios .tituloServicios {
    text-align: center;
  }

  .Conteiner4 .block {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 85%;
    justify-items: center;
    align-items: center;
    align-content: center;
  }

  .block .img-comida {
    display: grid;
    justify-items: center;
  }

  .Conteiner4 .subtitulo2 {
    display: flex;
    background: #87c830;
    letter-spacing: 3px;
    margin-top: -40px;
    width: 250px;
    height: 55px;
    font-size: 17px;
    color: #ffff;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Conteiner4 img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 2rem;
  }

  .Conteiner4 .desarrollo {
    margin-top: 5px;
    color: #5a5c5b;
    text-align: justify;
    font-size: medium;
  }

  /* CSS DE CONTACTO CON BOOTSTRAP----------- */
  .contacto {
    display: grid;
    margin: 0px;
    padding: 20px;
    gap: 0.5rem;
  }

  .contacto .cabecera {
    width: 100%;
    font-size: 60px;
    letter-spacing: 3.5px;
    text-align: center;
    margin-bottom: 1rem;
    color: #fc59a3;
    font-size: 4rem;
    font-family: "tituloCentral";
  }

  .contacto .nombre,
  .apellido,
  .telefono,
  .correo,
  .consulta {
    color: #fc59a3;
    font-size: 2rem;
    font-family: "tituloCentral";
  }

  /* Estilos generales del botón */
  .contacto .nutrition-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: inherit;
    height: inherit;
  }

  .contacto .placeContacto {
    text-align: start;
    /* buscar poosicion del placeHOLDER ARRIBA  */
    height: 10rem;
  }

  .contacto .nutrition-button:hover {
    background-color: #87c830;
  }

  .nutrition-button:focus {
    outline: none;
    box-shadow: 0 0 5px #87c830;
  }

  /* css FOOTER */

  .footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 0.3rem;
  }
  .footer .redes {
    display: flex;
    flex-grow: 5;
    gap: 5%;

  }

  .footer .empresa {
    font-size: 70%;
    color: white;
  }
  /* .footer .redes button {
    width: 2.5rem;
  } */

  .footer .redes img {
    width: 3rem;
    margin: 15px;
  }

  .what-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 9999;
  }

  .what-btn img {
    width: 3rem;
    animation: whatsapp-animation 1s infinite;
  }

  @keyframes whatsapp-animation {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-30px);
    }
    10% {
      transform: translateY(0);
    }
  }
}

/* .Conteiner4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 10px;
} */
