
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
    font-family: sans-serif;

    
}

.logo {
    max-width: 5rem;
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu, 
.cerrar-menu,
.btnMenu{
    display: none;
}


@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu,
    .btnMenu{
        display: block;
        cursor: pointer;
    }
    
    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2rem;
        background-color: #1c1c1c;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        opacity: 0;
        visibility: hidden;

    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a{
        color: #ececec;
    }

    .tituloCentral{
        margin-top: 1rem;
        display: grid;
        justify-content: center;
        justify-items: center;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        line-height: 1.8;
        gap: 1rem;
    }

    .tituloCentral img{
        width: 80%;
    }

    .tituloCentral p{
     text-align: justify;
     margin-left: 2rem;
     margin-right: 2rem;
    }

    .sectionConocer{
        display: grid;
        justify-items: center;
        justify-content: center;
        gap:1.5rem;

    }

    .sectionConocer .textoCuerpo{
        margin-left: 1.5rem;
        margin-right: 1.5rem;

    }
    .sectionConocer img{
        width: 50%;
    }
    
    .sectionServicios .tituloServicios{
        text-align: center;
    }

      .Conteiner4 .block {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 85%;
        justify-items: center;
        align-items: center;
        align-content: center;
      }
      
      .block .img-comida{
        display: grid;
        justify-items: center;
      }

      .Conteiner4 .subtitulo2 {
        display: flex;
        background: #96c29f;
        letter-spacing: 3px;
        margin-top: -40px;
        width: 250px;
        height: 55px;
        font-size: 17px;
        color: #ffff;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    
      .Conteiner4 img {
        width: 80%;
        border-radius: 10px;
        margin-bottom: 2rem;

      }
    
      .Conteiner4 .desarrollo {
        margin-top: 5px;
        color: #5a5c5b;
        text-align: justify;
        font-size: medium;
        
      }

}